/* Базовые стили (для всех устройств) */
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #DD6BD2, #773A71);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    justify-content: space-between;
}

#heart {
    position: relative;
    width: 400px;
    height: 400px;
    align-items: center;
}

#heart img {
    width: 100%;
    height: 100%;
    display: flex;
}

#daysCounter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-family: Arial;
    font-weight: bolder;
    text-align: center;
    pointer-events: none;
}

#upper-text {
    display: inline-block;
    padding: 15px 30px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #715EC9;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 20px;
}

#bottom-text {
    display: inline-block;
    padding: 15px 30px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #715EC9;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}
/* --- Стили для разных экранов --- */


@media (max-width: 980px) {
    #heart {
        width: 600px; /* Еще больше увеличиваем размер сердца */
        height: 600px;
    }

    #daysCounter {
        font-size: 120px; /* Еще больше увеличиваем текст внутри сердца */
    }

    #upper-text  {
        margin-top: 25px;
        font-family: Montserrat;
        padding: 35px 60px; /* Еще больше увеличиваем кнопки */
        font-size: 45px; /* Увеличиваем текст кнопок */
    }
    #bottom-text {
        font-family: Montserrat;
        padding: 35px 60px; /* Еще больше увеличиваем кнопки */
        font-size: 45px; /* Увеличиваем текст кнопок */
        margin-bottom: 30px;
}
}
    .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  @media (max-width: 720px) {
    #heart {    
        width: 200px; /* Еще больше увеличиваем размер сердца */
        height: 200px;
    }

    #daysCounter {
        font-family: Montserrat;
        font-size: 35px; /* Еще больше увеличиваем текст внутри сердца */
    }

    #upper-text  {
        font-family: Montserrat;
        padding: 20px 30px; /* Еще больше увеличиваем кнопки */
        margin-top: 10px;
        font-size: 15px; /* Увеличиваем текст кнопок */
        border-radius: 20px;
    }
    #bottom-text {
        font-family: Montserrat;
        padding: 20px 30px; /* Еще больше увеличиваем кнопки */
        font-size: 20px; /* Увеличиваем текст кнопок */
        margin-bottom: 20px;
        border-radius: 20px;
}
}

